body {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
     
      background-color: $hero-text-color;
      color: $primary-text-color;
}

li {
      list-style: none;
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
      margin: 0;
      padding: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
      margin: 0;
      padding: 0;
}

img{
      display: block;
      width: 100%;
      height: auto;
}

input {
      margin: 0;
      padding: 0;
}